.dashboard {
    min-height: 100vh;
    background-color: #0f172a;
    color: #f8fafc;
}

.dashboard-contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.bienvenida {
    margin-bottom: 30px;
}

.bienvenida h1 {
    margin-bottom: 5px;
}

.bienvenida p {
    color: #94a3b8;
}

.dashboard-resumen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .dashboard-resumen {
        grid-template-columns: 1fr;
    }

    .dashboard-contenido {
        padding: 16px;
    }
}

.tarjeta {
    background-color: #1e293b;
    border-radius: 12px;
    padding: 24px;
}

.tarjeta-saldo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.saldo-cantidad {
    font-size: 36px;
    margin-top: 10px;
    color: #22c55e;
}

.boton-cargar {
    padding: 12px 18px;

    border: none;
    border-radius: 8px;

    background-color: #3b82f6;
    color: white;

    font-weight: bold;
    cursor: pointer;
}

.boton-cargar:hover {
    background-color: #2563eb;
}

.swal2-container {
    z-index: 9999 !important;
}

.saldo-detalles {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px;
    margin: 20px 0;

    background-color: #0f172a;
    border-radius: 10px;
}

.saldo-tipo {
    margin: 0;
    font-weight: bold;
}

.saldo-tarjeta {
    margin: 4px 0 0;
    color: #94a3b8;
}

.saldo-estado {
    margin-left: auto;
    color: #22c55e;
    font-size: 13px;
    font-weight: bold;
}